streamlit
youtube-transcript-api

python-dotenv

langchain
langchain-core
langchain-community
langchain-openai
langchain-groq
langchain-community
sentence-transformers

langchain-text-splitters

langgraph
langgraph-prebuilt

groq
faiss-cpu

sentence-transformers
tiktoken

requests
beautifulsoup4
duckduckgo-search


pypdf
python-docx
docx2txt
unstructured
html2text

numpy
pandas

# Optional but useful
python-magic
